html {
    box-sizing: border-box;
}
.title {
    font-weight:bold;
    font-size:30px;
    text-align: center;
}
.topics{
    margin:1em;
    }
.buttons{
    margin-bottom:1em;
}
.gifImage {


}
.rating {

}
.gifDiv{
    display: inline-block;
    position:relative;
 }
 .stickyButtons{
    position: sticky;
    top:4em;
    
}
.favButton {
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    background-image: url(../images/favicon.png);
    background-repeat: no-repeat;
    background-color:transparent;
    height:16px;
    border: none;
    cursor: pointer;
    padding-left:16px;
     text-align: center;

}